/build/
/build-*/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
/install_manifest.txt
compile_commands.json
/bin/
/lib/
/out/

/.conan
/.conan2
conanbuild/
test_package/build/
conanfile.lock
CMakeUserPresets.json

target/

.vscode/
.idea/
.vs/
.DS_Store
Thumbs.db

*.log
*.tmp

